<section class="hero-section">
    <div class="glass-container" fxLayoutAlign="space-between center"> 
        <div class="glass-content" fxFlex="35" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign="center start">
             <div fxFlex="80">
                 <h1 class="mat-display-2 big-txt" >{{ game_name }}</h1>
                 <h2 class="mat-display-1 big-txt">{{ description }}</h2>

                 <div fxLayoutAlign="center" fxHide.lg fxHide.md>
                    <img fxFlex="80" src="../assets/184050.png" />
                  </div>

                 <div fxLayout="column" fxLayoutAlign.sm="center center" fxLayoutAlign.xs="center center">
                    <div class="icon-text" fxLayoutAlign="start center">
                        <h3><mat-icon>auto_awesome</mat-icon></h3>
                        <h3>&nbsp;&#160;Something awesome about the game</h3>
                    </div>

                    <div class="icon-text" fxLayoutAlign="start center">
                        <h3><mat-icon>auto_awesome</mat-icon></h3>
                        <h3>&nbsp;&#160;Something awesome about the game</h3>
                    </div> 
                 </div>

                 <div class="actions-btn" fxLayoutAlign="space-between center">
                    <button mat-flat-button color="primary">
                      Sign In
                    </button>

                    <button mat-flat-button routerLink ="/register" color="accent">
                      Register
                    </button>
                 </div>

             </div>
             
        </div>


        <div fxFlex="2 2 60" fxLayoutAlign="center" fxHide.sm fxHide.xs>
            <img fxFlex="50" src="../assets/184050.png" />
        </div>

    </div>

    <div class="circle1"></div>
    <div class="circle2"></div>
    
</section>

<section class="guest-section" fxLayout="row wrap"fxLayoutAlign="space-between center"> 

  <h2 class="mat-display-2" fxFlex="100">
    Play as a Guest
  </h2>
</section>
<mat-divider></mat-divider>
<br>

<footer fxLayout="column">

    <div
      class="footer-contenu"
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="space-between start"
    >
      <div fxFlex="17" fxFlex.xs="100">
        <h2>Contact Us</h2>
        <p><a href="https://#" target="_blank" rel="noreferrer">Facebook</a></p>
        <p>
          <a href="https://#" target="_blank" rel="noreferrer"
            >Twitter</a
          >
        </p>
        <p>
          <a
            href="https://#"
            target="_blank"
            rel="noreferrer"
            >Gmail</a
          >
        </p>
       
      </div>
      
      <div fxFlex="7" fxFlex.xs="100" fxLayout="column">
        <h2>Entreprise</h2>
        <p><a href="https://#" target="_blank" rel="noreferrer">About Us</a></p>
        <p>
          <a href="https://#" target="_blank" rel="noreferrer"
            >Terms of Use</a
          >
        </p>
        <p>
          <a href="https://#" target="_blank" rel="noreferrer"
            >Privacy Policy</a
          >
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div
      class="copyright"
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <p fxFlex.xs="100">Entreprise © 2022. All Rights Reserved</p>
      <p fxFlex.xs="100">Created and maintained by Entreprise</p>
    </div>
  </footer>